/* Website Styling */
*{
    background-color: lightyellow;
}

nav a:visited{
    color: blue;
}

nav a:hover{
    color: red;
}

nav a{
    margin:0 2%;
}

nav a.active{
    color:green;
}

a:hover{
    color: red;
}

a{
    text-decoration: none;
}

header{
    text-align: center;
}

body{
    padding: 2%;
}

footer{
    font-size: larger;
}
/*------------------*/


/* Resume Styling */
caption{
    font-size: larger;
}

th{
    font-weight: bold;
    border-bottom:2px solid black;
    text-align: center;
}

td{
    text-align: center;
}

.line{
    border-left: 2px solid black;
}

th, td{
    padding: 5px 5px 5px 5px;
}
/*----------------*/


/* Cover Letter Styling */
#intro, #middle, #end{
    padding: 3%;
}
mark{
    background-color: yellow;
    color: blue;
}
/*----------------------*/


/* Career Goals Styling */

/*----------------------*/